---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Making sure Helvetica Neue is added
@font-face {
  font-family: 'HelveticaNeue';
  src: url('font/HelveticaNeue.eot'); /* IE9 Compat Modes */
  src: url('font/HelveticaNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/HelveticaNeue.woff') format('woff'), /* Modern Browsers */
       url('font/HelveticaNeue.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('font/HelveticaNeue-Bold.eot'); /* IE9 Compat Modes */
  src: url('font/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/HelveticaNeue-Bold.woff') format('woff'), /* Modern Browsers */
       url('font/HelveticaNeue-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:	600;
}

// Our variables
$base-font-family: 'HelveticaNeue', Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$meta-font-size:   $base-font-size * 0.84;

$base-line-height: 1.5;

$spacing-unit:     30px;
$page-spacing-unit:     100px;

$text-color:       #575757;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #e2e2e2;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-desktop:		1440px;
$on-palm:          600px;
$on-laptop:        800px;

$blue:			    #2C95DD;
$grey-color-darker: #3E444C;
$grey-color-footer: #575757;
$footer-text-color: #B8B8B8;

$content-width:		720px;
$content-left-margin: 7%;
$p-text-color: #575757;
$nav-height: 113px;

$post_spacing: 70px;
// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting",
"main",
"nav",
"pagination"
;