{% include featured_posts.html %}
{% assign pagename = page.url | slugify %}
<header class="site-header notouch">

	<div class="wrapper">

		<a class="site-title" href="{{ site.baseurl }}/blog/">
			<img height="40" src="{{ site.baseurl }}/assets/images/cloudscaling_logo.svg">
		</a>

		<nav class="site-nav">
			<div href="#" id="mobile-open" class="home-icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="mobile-popout notouch">

			{% if pagename != 'search-html' %}
				<form id="global-search" action="/search.html" method="get">
					<input type="text" name="s" id="nav-search">
					<span class="search-icon">
						<img height="24" width="24" src="{{ site.baseurl }}/assets/images/search.svg">
					</span>
				</form>
			{% endif %}

				<div class="featured-posts">
					<h2>Recommended Posts</h2>
					{{featured_post_list}}
				</div>

				<a href="/blog" class="nav-home">Return to Homepage</a>
			</div>
		</nav>
	</div>

	{% if pagename != 'search-html' %}
	<div class="search-wrapper">
		<div class="wrapper">
			<div class="responsive-search site-container">
				<div class="form-wrapper">
					<form action="/search.html" method="get" id="site_search">
						<input type="text" name="s" class="nav-search-input">
						<input type="submit" value="Search" id="submit_search">
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

</header>
