<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Cloudscaling</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- TO BE REMOVE -->
    <meta name="robots" content="noindex">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/lunr.min.js"></script>
    <!-- <script src="/js/jquery.jscroll.min.js"></script> -->
    <script src="/js/master.js"></script>
</head>
