<header class="site-header">

	<div class="wrapper">

		<a class="site-title" href="{{ site.baseurl }}/blog/">
			<img height="40" src="{{ site.baseurl }}/assets/images/cloudscaling_logo.svg">
		</a>

		<nav class="site-nav">
			<a href="#" class="menu-icon">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="-293 385 24 24" style="enable-background:new -293 385 24 24;" xml:space="preserve">
				<path d="M-283.5,388c3.6,0,6.5,2.9,6.5,6.5c0,1.6-0.6,3.1-1.6,4.2l0.3,0.3h0.8l5,5l-1.5,1.5l-5-5v-0.8l-0.3-0.3
				c-1.1,1-2.6,1.6-4.2,1.6c-3.6,0-6.5-2.9-6.5-6.5S-287.1,388-283.5,388 M-283.5,390c-2.5,0-4.5,2-4.5,4.5s2,4.5,4.5,4.5
				s4.5-2,4.5-4.5S-281,390-283.5,390z"/>
			</svg>
		</a>
		<div class="trigger">
			<form id="global-search" action="/search.html" method="get">
				<input type="text" name="s" id="nav-search">
				<span class="search-icon">
					<img height="24" width="24" src="{{ site.baseurl }}/assets/images/search.svg">
				</span>
			</form>
		</div>
	</nav>
</div>
<div class="search-wrapper" style="background: white">
	<div class="wrapper">
		<div class="responsive-search site-container">
			<div class="form-wrapper">
				<form action="get" id="site_search">
					<input type="text" class="nav-search-input">
					<input type="submit" value="Search" id="submit_search">
				</form>
			</div>
		</div>
	</div>
</div>
</header>
