<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{% if page.title %}{{ page.title }} | Cloudscaling {% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="author" href="" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content=">{% if page.title %}{{ page.title }} | Cloudscaling {% else %}{{ site.title }}{% endif %}">
    <meta itemprop="description" content="{{ site.description }}">
    <!--<meta itemprop="image" content="">-->

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@randybias">
    <meta name="twitter:creator" content="@randybias">
    <meta name="twitter:title" content=">{% if page.title %}{{ page.title }} | Cloudscaling {% else %}{{ site.title }}{% endif %}">
    <!--<meta name="twitter:description" content="{{ page.content | truncatewords: 50 }}">-->
    <!--<meta name="twitter:image" content="http://www.example.com/image.html">-->

    <meta property="og:title" content="{% if page.title %}{{ page.title }} | Cloudscaling {% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <!--<meta property="og:description" content="{{ page.content | truncatewords: 50 }}" />-->
    <!-- <meta property="og:image" content="" /> -->
    <meta property="og:site_name" content="Cloudscaling" />

    <!-- TO BE REMOVE -->
    <meta name="robots" content="noindex">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/lunr.min.js"></script>
    <!-- <script src="/js/jquery.jscroll.min.js"></script> -->
    <script src="/js/master.js"></script>
</head>
