/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
 	margin: 0;
 	padding: 0;
 }



/**
 * Basic styling
 */
 body {
 	font-family: $base-font-family;
 	font-size: $base-font-size;
 	font-weight: 300;
 	color: $text-color;
 	background-color: white;
 	-webkit-text-size-adjust: 100%;
 }



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
 	margin-bottom: $spacing-unit / 2;
 }



/**
 * Images
 */
 img {
 	max-width: 100%;
 	vertical-align: middle;
 }



/**
 * Figures
 */
 figure > img {
 	display: block;
 }

 figcaption {
 	font-size: $small-font-size;
 }



/**
 * Lists
 */
 ul, ol {
 	margin-left: $spacing-unit;
 }

 li {
 	margin-bottom: 10px;
 	> ul,
 	> ol {
 		margin-bottom: 0;
 	}
 	p {
 		margin-bottom: 10px;
 	}
 }



/**
 * Headings
 */
 h1, h2, h3, h4, h5, h6 {
 	font-weight: 300;
 }

 h1 {
 	font-family: 'Helvetica Neue';
 	font-size: 48px;
 	color: #000000;
 	line-height: 52px;
 	margin-bottom: 10px;
 	font-weight: bold;
 }

 h2 {
 	font-family: 'HelveticaNeue';
 	font-size: 32px;
 	color: #000000;
 	line-height: 36px;
 }

 h3 {
 	font-family: 'HelveticaNeue-Bold';
 	color: #000000;
 	line-height: 28px;
 	font-size: 32px;
 	line-height: 28px;
 }

 h4 {
 	font-family: 'HelveticaNeue-Bold';
 	font-size: 20px;
 	color: #000000;
 	line-height: 28px;
 }

 h5 {
 	font-family: 'HelveticaNeue-Bold';
 	font-size: 16px;
 	color: #575757;
 	line-height: 28px;
 }

/**
 * Links
 */
 a {
 	color: $blue;
 	text-decoration: none;
 	font-weight: bold;
 	&:visited {
 		color: darken($blue, 15%);
 	}

 	&:hover {
 		color: $blue;
 		text-decoration: underline;
 	}
 }



/**
 * Blockquotes
 */
 blockquote {
 	color: #666;
 	border-left: 4px solid $grey-color-light;
 	padding-left: $spacing-unit / 2;
 	font-size: 18px;
 	// letter-spacing: -1px;
 	font-style: italic;
 	background-color: #F2F2F2;
 	padding: 30px;
 	margin: 30px 0;
 	> :last-child, > p {
 		margin-bottom: 0 !important;
 	}
 }



/**
 * Code formatting
 */
 pre,
 code {
 	font-size: 15px;
 	border: 1px solid $grey-color-light;
 	border-radius: 3px;
 	background-color: #eef;
 }

 code {
 	padding: 1px 5px;
 }

 pre {
 	padding: 8px 12px;
 	overflow-x: scroll;

 	> code {
 		border: 0;
 		padding-right: 0;
 		padding-left: 0;
 	}
 }

 p {
 	font-family: 'Helvetica Neue';
 	font-size: 18px;
	// color: #575757;
	line-height: 28px;
	text-align: justify;
	+ h1  {
		margin-top: 40px;
	}
	+ h2  {
		margin-top: 40px;
	}
	+ h3  {
		margin-top: 40px;
	}
}


sup {
	a {
		outline: none;
		&.footnote-anchor{
			.footnotes {
				font-weight: normal;
				font-size: 13px;
			}
		}
	}
}


/**
 * Wrapper
 */
 .wrapper {
 	max-width: -webkit-calc(1440px - (#{$spacing-unit} * 2));
 	max-width:         calc(1440px - (#{$spacing-unit} * 2));
 	margin-right: auto;
 	margin-left: auto;
 	padding-right: $spacing-unit;
 	padding-left: $spacing-unit;
 	@extend %clearfix;

 	@include media-query($on-laptop) {
 		max-width: -webkit-calc(800px - (#{$spacing-unit}));
 		max-width:         calc(800px - (#{$spacing-unit}));
 		padding-right: $spacing-unit / 2;
 		padding-left: $spacing-unit / 2;
 	}
 }



/**
 * Clearfix
 */
 %clearfix {

 	&:after {
 		content: "";
 		display: table;
 		clear: both;
 	}
 }



/**
 * Icons
 */
 .icon {

 	> svg {
 		display: inline-block;
 		width: 20px;
 		height: 20px;
 		vertical-align: middle;

 		path {
 			fill: $grey-color;
 		}
 	}
 }


// Tables
table {
	display: block;
	width: 100%;
	overflow: auto;
	word-break: normal;
	word-break: keep-all;
	border-collapse: collapse;
	thead {
		tr {
			background-color: $grey-color;
		}
	}
	tr {
		background-color: #fff;
		border-top: 1px solid #ccc;
		th, td {
			padding: 20px;
			border-bottom: 1px solid #ddd;
			&:last-child {
				border: none;
			}
		}
	}
	// th, td {
	//     padding: 6px 13px;
	// }

}