/*
  Desktop Featured Post Sidebar
*/
.index--single-post.has-sidebar {
  max-width: #{$content-width};
  float: none;

  @media (min-width: $content-width){
    max-width: calc(#{$content-width} - #{$sidebar-width} - #{$sidebar-margin});
    float: left;
    display: block;
    clear: none;
  }
}

.sidebar {
  width: calc(#{$sidebar-width} - #{$sidebar-margin} - #{$sidebar-margin});
  float: left;
  display: none;
  padding: 2% 0;
  margin: 2% 0 3% $sidebar-margin;

  ul {
    border-left: 3px solid #D8D8D8;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 0 35px;
      padding: 5px 0;
    }
  }
  h2, ul {
    width: calc(#{$sidebar-width} - #{$sidebar-margin});
    position: relative;
  }
  ul {
    clear: both;
  }

  @media (min-width: $content-width){
    display: block;
  }
}

/*
  Mobile Featured Post Navigation
*/

.site-nav {
  ul {
    li,
    a {
      line-height: $base-line-height;
    }
  }
}