/**
 * Site header
 */
 .site-header {
	// border-top: 5px solid $grey-color-dark;
	// border-bottom: 1px solid $grey-color-light;
	min-height: $nav-height;

	// Positioning context for the mobile navigation icon
	position: relative;
	background-color: $grey-color;
}

.site-title {
	font-size: 26px;
	line-height: $nav-height;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: $grey-color-dark;
	}
	.site-subtitle {
		display: block;
		font-size: 11px;
		color: white;
	}
}

.site-nav {
	float: right;
	line-height: $nav-height;

	// .trigger {
	// 		clear: both;
	// 		display: none;
	// }


	#nav-search {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid black;
		outline: none;
		line-height: 20px;
	}
	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one
		&:not(:first-child) {
			margin-left: 20px;
		}
	}

	@include media-query($on-palm) {
		// position: absolute;
		// top: 113px;
		// margin: 0 5%;
		// width: 90%;
		// right: 0;
		// #nav-search {
		// 	display: none;
		// }
		.trigger {
			clear: both;
			display: none;
		}
		&:hover {
			.trigger {
				display: block;
				padding-bottom: 5px;
				position: absolute;
				line-height: 30px;
				bottom: -80px;
				width: 100%;
				left: 0;
				right: 0;
				margin-left: 0;
				margin-right: 0;
			}
		}
		
		// Hamburger
		position: absolute;
		top: 40px;
		right: 30px;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}
}



/**
 * Site footer
 */
 .site-footer {
 	border-top: 1px solid $grey-color-light;
 	padding: $spacing-unit 0;
 	background-color: $grey-color-footer;
 	color: $footer-text-color;
 }

 .footer-heading {
 	font-size: 18px;
 	margin-bottom: $spacing-unit / 2;
 }

 .footer-col-wrapper {
 	font-size: 15px;
 	margin-left: -$spacing-unit / 2;
 	@extend %clearfix;
 	.footer-col {
 		margin-bottom: $spacing-unit / 2;
 		padding-left: $spacing-unit / 2;
 		@include media-query($on-palm) {
 			float: none;
 			width: -webkit-calc(100% - (#{$spacing-unit} / 2));
 			width:         calc(100% - (#{$spacing-unit} / 2));
 		}
 		&.footer-col-1 {
 			float: left;
 			@include media-query($on-palm) {
 				width: -webkit-calc(30% - (#{$spacing-unit} / 2));
 				width: calc(30% - (#{$spacing-unit} / 2));
 			}
 		}

 		&.footer-col-2 {
 			float: left;
 			width: -webkit-calc(40% - (#{$spacing-unit} / 2));
 			width: calc(40% - (#{$spacing-unit} / 2));
 			@include media-query($on-palm) {
 				width: -webkit-calc(50% - (#{$spacing-unit} / 2));
 				width: calc(50% - (#{$spacing-unit} / 2));
 			}
 		}

 		&.footer-col-3 {
 			float: right;
 			width: -webkit-calc(45% - (#{$spacing-unit} / 2));
 			width: calc(45% - (#{$spacing-unit} / 2));
 			@include media-query($on-palm) {
 				width: -webkit-calc(20% - (#{$spacing-unit} / 2));
 				width: calc(20% - (#{$spacing-unit} / 2));
 			}
 			.social-media-list {
 				list-style: none;
 				margin-left: 0;
 				float: right;
 				@include media-query($on-laptop) {
 					float: left;
 				}
 				li {
 					float: left;
 					margin-right: 15px;
 					&:last-child {
 						margin-right: 0px;
 					}
 				}
 			}
 		}
 		@include media-query($on-laptop) {
 			&.footer-col-1,
 			&.footer-col-2 {
 				width: -webkit-calc(100% - (#{$spacing-unit} / 2));
 				width:         calc(100% - (#{$spacing-unit} / 2));
 			}

 			&.footer-col-3 {
 				width: -webkit-calc(100% - (#{$spacing-unit} / 2));
 				width:         calc(100% - (#{$spacing-unit} / 2));
 			}
 		}
 	}
 }

/**
 * Page content
 */
 .page-content {
 	padding: $spacing-unit 0;
 }

 .page-heading {
 	font-size: 20px;
 }

 .post-list {
 	margin-left: 0;
 	list-style: none;

 	> li {
 		margin-bottom: $spacing-unit;
 	}
 }

 .post-link {
 	display: block;
 	font-size: 24px;
 }



/**
 * Posts
 */
 .post-header {
 	margin-bottom: $spacing-unit;
 	.post-title {
 		font-size: 48px;
 		letter-spacing: -1px;
 		line-height: 1;
 		margin-bottom: 22px;
 		font-weight: bold;
 		@include media-query($on-laptop) {
 			font-size: 36px;
 		}
 		a {
 			color: black;
 		}
 	}
 	.post-meta {
 		font-size: $meta-font-size;
 		color: $grey-color-darker;
 		.date-meta, 
 		.author-meta {
 			color: $blue;
 		}
 	}
 }

 .post-content {
 	margin-bottom: $spacing-unit;

 	h2 {
 		font-size: 32px;

 		@include media-query($on-laptop) {
 			font-size: 28px;
 		}
 	}

 	h3 {
 		font-size: 26px;

 		@include media-query($on-laptop) {
 			font-size: 22px;
 		}
 	}

 	h4 {
 		font-size: 20px;

 		@include media-query($on-laptop) {
 			font-size: 18px;
 		}
 	}

 	p {
 		margin-bottom: 30px;
 		@include media-query($on-laptop) {
 			margin-bottom: 15px;
 		}
 	}
 }

 .pagination-wrapper {
 	background: $grey-color;
 	height: $nav-height;
 	cursor: pointer;
 	position: relative;
 	&:before {
	 	width: 100%;
	    height: 100%;
	    border-right: 2px solid #CFCFCF;
	    position: absolute;
	    content: "";
	    left: -50.5%;
 	}
 	.pagination {
 		width: 49.5%;
 		float: left;
 		position: relative;
 		top: 50%;
 		-webkit-transform: translateY(-50%);
 		-ms-transform: translateY(-50%);
 		transform: translateY(-50%);
 		&:first-child {
 			border-right: 1px solid #CFCFCF;
 		}
 		.previous {
 			float: right;
 			margin: 0 5%;
 			text-decoration: none;
 		}
 		.next {
 			float: left;
 			margin: 0 5%;
 			text-decoration: none;
 		}
 		.label {
 			color: $grey-color-darker;
 		}
 	}
 }


 .index--single-post {
 	margin: 70px 0px;
 	padding-bottom: 70px;
 	max-width: $content-width;
 	margin-left: $content-left-margin;
 	@include media-query($on-laptop) {
 		margin-left: auto;
 	}
 	// border-bottom: 1px solid #D8D8D8;
 }
 hr {
 	max-width: $content-width;
 	margin-left: $content-left-margin;
 	@include media-query($on-laptop) {
 		margin-left: auto;
 	}
 }