/**
 * Site header
 */
 .site-header {
	min-height: $nav-height;
	// Positioning context for the mobile navigation icon
	position: relative;
	background-color: $grey-color;
}

.site-title {
	font-size: 26px;
	line-height: $nav-height;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: $grey-color-dark;
	}
	.site-subtitle {
		display: block;
		font-size: 11px;
		color: white;
	}
}

.site-nav {
	float: right;
	line-height: $nav-height;
	.search-icon {
		cursor: pointer;
	}

	#nav-search {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #000000;
		outline: none;
		line-height: 20px;
		min-width: 70%;
		font-size: 18px;
		border-radius: 0;
	}
	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one
		&:not(:first-child) {
			margin-left: 20px;
		}
	}

	@include media-query($on-palm) {
		.trigger {
			clear: both;
			display: none;
		}
		&.open {
			.trigger {
				display: block;
				padding-bottom: 5px;
				position: absolute;
				line-height: 30px;
				bottom: -100px;
				width: 100%;
				left: 0;
				right: 0;
				margin-left: 0;
				margin-right: 0;
				outline: 0;
			}
		}
		
		position: absolute;
		top: 40px;
		right: 30px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 24px;
			height: 24px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 24px;
				height: 24px;
			}
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}
}


/**
 * Site footer
 */

 .site-footer {
 	border-top: 1px solid $grey-color-light;
 	padding: $spacing-unit 0;
 	background-color: $grey-color-footer;
 	color: $footer-text-color !important;
 }

 .footer-heading {
 	font-size: 15px;
 	margin-bottom: 10px;
 	@include media-query($on-palm) {
 		line-height: 20px;
 		font-size:12px;
 	}
 }

 .footer-col-wrapper {
 	font-size: 15px !important;
 	margin-left: -$spacing-unit / 2;
 	p {
 		color: $footer-text-color !important;
 		line-height: initial;
 	}
 	h2 {
 		color: $footer-text-color !important;
 	}
 	.common {
 		color: $footer-text-color !important;
 		font-weight: normal;
 	}
 	@extend %clearfix;
 	.footer-span {
 		padding-left: $spacing-unit / 2;
 		@include media-query($on-palm) {
 			float: none;
 			width: -webkit-calc(100% - (#{$spacing-unit} / 2));
 			width:         calc(100% - (#{$spacing-unit} / 2));
 		}
 		&.span-1-2 {
 			float: left;
 			width: -webkit-calc(50% - (#{$spacing-unit} / 2));
 			width: calc(50% - (#{$spacing-unit} / 2));
 			@include media-query($on-palm) {
 				width: -webkit-calc(100% - (#{$spacing-unit} / 2));
 				width: calc(100% - (#{$spacing-unit} / 2));
 			}
 		}
 	}
 	.icon-cc {
 		width: 220px;
 		@include media-query($on-palm) {
			width: 120px;
		}
 	}
 	.social-media-list {
 		list-style: none;
 		margin-left: 0;
 		float: right;
 		@include media-query($on-laptop) {
 			float: left;
 		}
 		li {
 			float: left;
 			margin-right: 15px;
 			&:last-child {
 				margin-right: 0px;
 			}
 		}
 	}
 	.footer-col {
 		margin-bottom: $spacing-unit / 2;
 		padding-left: $spacing-unit / 2;
 		@include media-query($on-palm) {
 			float: none;
 			width: -webkit-calc(100% - (#{$spacing-unit} / 2));
 			width:         calc(100% - (#{$spacing-unit} / 2));
 		}
 		&.footer-col-1 {
 			float: left;
 			@include media-query($on-palm) {
 				width: -webkit-calc(30% - (#{$spacing-unit} / 2));
 				width: calc(30% - (#{$spacing-unit} / 2));
 			}
 		}

 		&.footer-col-2 {
 			float: left;
 			width: -webkit-calc(30% - (#{$spacing-unit} / 2));
 			width: calc(30% - (#{$spacing-unit} / 2));
 			@include media-query($on-palm) {
 				width: -webkit-calc(50% - (#{$spacing-unit} / 2));
 				width: calc(50% - (#{$spacing-unit} / 2));
 			}
 		}

 		&.footer-col-3 {
 			float: right;
 			width: -webkit-calc(45% - (#{$spacing-unit} / 2));
 			width: calc(45% - (#{$spacing-unit} / 2));
 			@include media-query($on-palm) {
 				width: -webkit-calc(20% - (#{$spacing-unit} / 2));
 				width: calc(20% - (#{$spacing-unit} / 2));
 			}
 		}
 		p {
 			font-size: 15px;
 			@include media-query($on-palm) {
				font-size: 12px;
			}
 		}
 		@include media-query($on-laptop) {
 			&.footer-col-1,
 			&.footer-col-2 {
 				width: -webkit-calc(100% - (#{$spacing-unit} / 2));
 				width:         calc(100% - (#{$spacing-unit} / 2));
 			}

 			&.footer-col-3 {
 				width: -webkit-calc(100% - (#{$spacing-unit} / 2));
 				width:         calc(100% - (#{$spacing-unit} / 2));
 			}
 		}
 	}
 }
