---
layout: default
include_pagination: true
---

<div class="home">

	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}

	{% assign post_author = site.data.authors[post.author] %}

	<div class="index--single-post">
		<div class="post-header">
			<h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<p class="post-meta">Posted on <span class="date-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			{% if post_author %} by <span class="author-meta"><a href="/blog/author/{{ post_author.slug }}">
					{{ post.author }}
				</a></span>
			{% else if post.author %} by <span class="author-meta">{{ post.author }}</span>{% endif %}</p>
		</div>

		<div class="content">
			<div class="excerpt">
			{% if forloop.index == 1%}
				{{ post.content }}
			{% else %}
				{{ post.content | truncatewords: 50 }}
			{% endif %}
			</div>  
		</div>
	</div>
	{% if forloop.length != forloop.index %}
	<hr>
	{% endif %}
	{% endfor %}
</div>
